Gitter Invoice Receipt
======================
Invoice Number: {{{ INVOICE_NUMBER }}}
Date: {{{ INVOICE_DATE }}}

{{{ CUSTOMER_NAME }}}
{{{ CUSTOMER_COMPANY }}}

{{{ INVOICE_LINES_TEXT }}}

Thanks for being awesome and paying for Gitter.
If you have any queries, please contact support@gitter.im


To cancel or change your billing plan, please visit https://billing.gitter.im



Troupe Technology Limited
14 Dufferin Street
London
EC1Y 8PD
VAT Number: GB 157 1194 10
